<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.io.FileNotFoundException</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<servlet>
		<servlet-name>ObjectifyRegisterService</servlet-name>
		<servlet-class>com.cloudprinter.startup.ObjectifyRegisterService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObjectifyRegisterService</servlet-name>
		<url-pattern>/objectifystart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.cloudprinter.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.cloudprinter.servlet.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ForgotLoginId</servlet-name>
		<servlet-class>com.cloudprinter.servlet.ForgotLoginId</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotLoginId</servlet-name>
		<url-pattern>/forgotloginid</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.cloudprinter.servlet.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/forgotpassword</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>com.cloudprinter.servlet.RegisterUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/registeruser</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>UploadFile</servlet-name>
		<servlet-class>com.cloudprinter.servlet.UploadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFile</servlet-name>
		<url-pattern>/uploadfile</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetAllFiles</servlet-name>
		<servlet-class>com.cloudprinter.servlet.GetAllFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllFiles</servlet-name>
		<url-pattern>/getallfiles</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>PrintFile</servlet-name>
		<servlet-class>com.cloudprinter.servlet.PrintFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrintFile</servlet-name>
		<url-pattern>/printfile</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DownloadFile</servlet-name>
		<servlet-class>com.cloudprinter.servlet.DownloadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadFile</servlet-name>
		<url-pattern>/downloadfile</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>com.cloudprinter.servlet.ChangePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/changepassword</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>GetDeletedFiles</servlet-name>
		<servlet-class>com.cloudprinter.servlet.GetDeletedFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetDeletedFiles</servlet-name>
		<url-pattern>/getdeletedfiles</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteFile</servlet-name>
		<servlet-class>com.cloudprinter.servlet.DeleteFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFile</servlet-name>
		<url-pattern>/deletefile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteFilePermanently</servlet-name>
		<servlet-class>com.cloudprinter.servlet.DeleteFilePermanently</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFilePermanently</servlet-name>
		<url-pattern>/deletefilepermanently</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetAllPrintRequests</servlet-name>
		<servlet-class>com.cloudprinter.servlet.GetAllPrintRequests</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllPrintRequests</servlet-name>
		<url-pattern>/getallprintrequests</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ClientRegistrationServlet</servlet-name>
		<servlet-class>com.cloudprinter.servlet.ClientRegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientRegistrationServlet</servlet-name>
		<url-pattern>/clientRegistration</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>AuthenticateClient</servlet-name>
		<servlet-class>com.cloudprinter.client.AuthenticateClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticateClient</servlet-name>
		<url-pattern>/authenticateclient</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>GetAllPrintRequest</servlet-name>
		<servlet-class>com.cloudprinter.client.GetAllPrintRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllPrintRequest</servlet-name>
		<url-pattern>/getallprintrequest</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>ServeFileToClient</servlet-name>
		<servlet-class>com.cloudprinter.client.ServeFileToClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServeFileToClient</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>UpdateFilePrintStatus</servlet-name>
		<servlet-class>com.cloudprinter.client.UpdateFilePrintStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateFilePrintStatus</servlet-name>
		<url-pattern>/updatefileprintstatus</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CheckUserLogin</servlet-name>
		<servlet-class>com.cloudprinter.api.CheckUserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUserLogin</servlet-name>
		<url-pattern>/checkuserlogin</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetMyFiles</servlet-name>
		<servlet-class>com.cloudprinter.api.GetMyFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMyFiles</servlet-name>
		<url-pattern>/getmyfiles</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetDeletedFiles</servlet-name>
		<servlet-class>com.cloudprinter.api.GetDeletedFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetDeletedFiles</servlet-name>
		<url-pattern>/getdeletedfiles</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>GetPrintedFiles</servlet-name>
		<servlet-class>com.cloudprinter.api.GetPrintedFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPrintedFiles</servlet-name>
		<url-pattern>/getprintedfiles</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteFileByApi</servlet-name>
		<servlet-class>com.cloudprinter.api.DeleteFileByApi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFileByApi</servlet-name>
		<url-pattern>/deletefilebyapi</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DownloadFileByApi</servlet-name>
		<servlet-class>com.cloudprinter.api.DownloadFileByApi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadFileByApi</servlet-name>
		<url-pattern>/downloadfilebyapi</url-pattern>
	</servlet-mapping>

	

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


</web-app>
